# Your USERID or Channel ID to display alert and key, we recommend you create new bot with @BotFather on Telegram
USERID=( USERIDn CHANNELIDn )
KEY="none"
PROXY_IP="proxy ip"
PROXY_PORT="proxy port"
PROXY_USER="proxy username"
PROXY_PASS="proxy password"
# The name of the server that you want to display in the notification header
SERVERNAME=name
